<%= form_with  model:@address_new, url:addresses_path, local:true do |f| %>
    <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
  <div class="field">
    <%= f.label :postal_code %>
    <%= f.text_field :postal_code %>
  </div>
  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>
  <%= f.submit '保存' %>
<% end %>

<% @addresses.each do |address| %>
    <%= address.name %>
    <%= address.postal_code %>
    <%= address.address %>
    <%= link_to "編集する", edit_address_path(address) %>
    <%= link_to "削除する", address_path(address), method: :delete %>
<% end %>